<html>
<head>
    <title>Scale lab job results</title>
    <style>
        table {border-collapse: collapse; color:#000000}
        th, td {border: 1px solid #736F6E}
        #job_results_table_filter {clear:left; float:left; font-weight: bold;}
	    #job_results_table_length {font-weight: bold;}
    </style>

    <!-- Required for tables -->
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.css">

</head>
<body>

  <form action="" method="POST">
    Pick date and time from what to start jobs list:<input type="datetime-local" name="date_start"/> <br>
    Pick date and time till what to end jobs list : <input type="datetime-local" name="date_end"/> <br>
    Select env number: <input type="text" name="env" value=""/> <br>
    Select contact person: <input type="text" name="contact_person" value=""/> <br>
    <input type="submit" name="action" value="Filter">
  </form>

    <h2 id="job_results_results">Job results</h2>
    {% include executors_results_template %}

</body>
</html>
