Hostname   "{{ ansible_hostname }}"
FQDNLookup false
BaseDir    "{{ collectd.dirs.base }}"
PIDFile    "{{ collectd.pidfile }}"
Interval   {{ collectd.vars.interval }}
TypesDB    "/usr/share/collectd/types.db"

WriteQueueLimitHigh 10000
WriteQueueLimitLow  8000

{% for name in collectd.plugins %}
LoadPlugin {{ name }}
{% endfor %}

Include "{{ collectd.dirs.conf }}"
